.blackpink {
  border: solid rgb(241, 114, 178) 3px;
} 
.bottom {
  background-color:rgb(238, 145, 229);
}
.contact {
  background-color: chocolate;
}
.header{
  background-color: bisque;
}
.middle{
  background-color: bisque;
}
.profile {
  border-radius: 50%;
}

body {
  margin: 0;
}
h3 {
  margin-top: 0;
}
hr {
  border-style: dotted none none;
  width: 30%;
  border-color: grey;
  border-width:5px;
  margin-bottom: 0;
}